<div class="container-box-top">
    <!--头部-->
    <ul>
        <li class="cbcb4"><a href="#"  class="cbcb4">聚惠企业</a>&nbsp;&nbsp;</li>
        <li class="fg">|&nbsp;&nbsp;专业的财税服务平台</li>
        <li>&nbsp;&nbsp;<a href="#">登录</a>&nbsp;&nbsp;|</li>
        <li>&nbsp;&nbsp;<a href="#">注册</a>&nbsp;&nbsp;|</li>
        <li>&nbsp;&nbsp;<a href="#">我的订单</a>&nbsp;&nbsp;|</li>
        <li>&nbsp;&nbsp;<span class="iphoneico"></span><a href="#"></a>手机端登录</a>&nbsp;&nbsp;</li>
        <li class="cbcb4">&nbsp;&nbsp;全国服务热线:400-718-9622</li>
    </ul>
</div>

        <div class="juhui-box">
            <ul>
                <a href="#">
                    <li class="juhuiico">
                    </li>
                </a>
                <li class="fg marlf20">
                    <span><i>专注服务小微企业</i></span>
                    <p>
                        <span><span class="zizhiico"></span><b>资质认证</b></span>
                        <span><span class="baoxianico"></span><b>保险赔付</b></span>
                        <span><span class="shouhouico"></span><b>售后无忧</b></span>
                    </p>
                </li>
                <li>
                    <form action="">
                        <div class="search-box">
                            <input type="text" name="search" placeholder="请输入关键字">
                            <span class="searchico">&nbsp; <span>搜 索</span></span>
                        </div>
                        <div class="ask">
                            我要提问
                        </div>
                    </form>
                </li>
            </ul>
            <!--所有服务列表-->
            <div class="serve-box">
                <ul>
                    <li>
                        <span class="serveico"></span>
                        <span class="font16"><b>所有服务分类</b></span>
                    </li>
                    <li class="active">
                        <a href="#"><b>首页</b></a>
                    </li>
                    <li class="active">
                        <a href="#"><b>注册公司</b></a>
                        <div class="hot">
                            <img src="__ROOT__/static/home/login/img/sy-hot.gif">
                            <div></div>
                        </div>
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <a href="#"><b>申请商标</b></a>
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <a href="#"><b>代理记账</b></a>
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <a href="#"><b>财税问答</b></a>
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <a href="#"><b>创业咨询</b></a>
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="knowposition active">
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                        <a href="#"><b>知识库</b></a>
                        <!--<span class="knowico"></span>-->
                        <!--<div><img src="__ROOT__/static/home/login/img/images/sy-hot.gif"></div>-->
                    </li>
                    <li class="active">
                        <a href="#"><b>关于聚惠</b></a>
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                    </li>
                    <li ><a href="#" class="odds"><b>创业特惠套餐</b></a></li>
                </ul>
               <div class="server-list-box">
                    <!--所有服务列表下面菜单-->
                    <div class="server-list-box-left">
                         {volist name="type" id="v" key="k"}
                             <div class="server-hover-{$k}">
                                 <ul>
                                     {if condition="$k heq 1"} 
                                     <li class="companyico"></li>
                                     {elseif condition="$k heq 2"/}
                                     <li class="accountantico"></li>
                                     {elseif condition="$k heq 3"/}
                                     <li class="equityico"></li>
                                     {elseif condition="$k heq 4"/}
                                     <li class="socialico"></li>
                                     {elseif condition="$k heq 5"/}
                                     <li class="aptitudeico"></li>
                                     {elseif condition="$k heq 6"/}
                                     <li class="specialico"></li>
                                     {/if}
                                     <li class="fg mar0">{$v.name}</li>
                                     <li class="leftarrows"></li>
                                 </ul>
                                 <ul>
<!--                                      <li><a href="#">公司注册</a></li>
                                     <li><a href="#">公司变更</a></li>
                                     <li><a href="#">外贸公司</a></li> -->
                                     {volist name="v.overheads" id="v2" key="k2"}

                                        <li><a href="#">{$v2.productName}</a></li>

                                     {/volist}
                                 </ul>
                             </div>
                         {/volist}
                    </div>
                    <!--所有服务列表弹出框-->
                    <div class="server-list-box-right">
                        <!--可显示隐藏的盒子-->

                    {volist name="type" id="v" key="k"}
                        <!-- <h1>wangliang</h1> -->

                         {if condition="$k heq 1"} 

                        <!--第1个列表-->
                        <div class="server-list-box-right-list-1 server-none-1">
                            <!--导航条列表-->
                            <div class="server-list-right">


                                {volist name="v.typeProducts" id="v2" key="k2"}

                                    {if condition="$k2 heq 1"} 
                                        <div class="server-list-right-top">
                                            <div>
                                                <span class="font16"><b>{$v2.name}</b></span>
                                            </div>
                                            <div class="limited borderbot">
                                                <ul>
                                                    {volist name="v2.products" id="v3" key="k3"}

                                                        {if condition="$k3 heq 5 or $k3 heq 9 or $k3 heq 13 or $k3 heq 17"} 
                                                            </ul>
                                                            <ul>
                                                        {/if}

                                                        {if condition="$v3.recommend > 0"} 
                                                            <li><a href="#" class="redfont">{$v3.productName}</a></li>
                                                        {else /}
                                                            <li><a href="#">{$v3.productName}</a></li>
                                                        {/if}
                                                    {/volist}
                                                </ul>
<!--                                                 <ul class="marbottom10">
                                                    <li><a href="#">协会、商会注册</a></li>
                                                </ul> -->
                                            </div>
                                        </div>
                                     {else /}

                                        <div class="server-list-right-top martop10px">
                                            <div>
                                                <span class="font16"><b>{$v2.name}</b></span>
                                            </div>
                                            <div class="limited borderbot">
                                                <ul>
                                                    {volist name="v2.products" id="v3" key="k3"}

                                                        {if condition="$k3 heq 5 or $k3 heq 9 or $k3 heq 13 or $k3 heq 17"} 
                                                            </ul>
                                                            <ul>
                                                        {/if}

                                                        {if condition="$v3.recommend > 0"} 
                                                            <li><a href="#" class="redfont">{$v3.productName}</a></li>
                                                        {else /}
                                                            <li><a href="#">{$v3.productName}</a></li>
                                                        {/if}
                                                    {/volist}
                                                </ul>
<!--                                                 <ul class="marbottom10">
                                                    <li><a href="#">协会、商会注册</a></li>
                                                </ul> -->
                                            </div>
                                        </div>

                                     {/if}
                                {/volist}
                            </div>
                           <div class="server-list-left">
                                <div class="borderbot">
                                    <a href="#"><img src="__ROOT__/static/home/login/img/top1.png"></a>
                                </div>
                                <div class="borderbot">
                                    <a href="#"><img src="__ROOT__/static/home/login/img/top2.png"></a>
                                </div>
                                <div>
                                    <a href="#"><img src="__ROOT__/static/home/login/img/top3.png"></a>
                                </div>
                            </div>
                        </div>

                         {elseif condition="$k heq 2"/}

                        <div class="server-list-box-right-list-1 server-none-2">
                            <!--导航条列表-->
                            <div class="server-list-right">


                                {volist name="v.typeProducts" id="v2" key="k2"}

                                    {if condition="$k2 heq 1"} 
                                        <div class="server-list-right-top">
                                            <div>
                                                <span class="font16"><b>{$v2.name}</b></span>
                                            </div>
                                            <div class="limited borderbot">
                                                <ul>
                                                    {volist name="v2.products" id="v3" key="k3"}

                                                        {if condition="$k3 heq 5 or $k3 heq 9 or $k3 heq 13 or $k3 heq 17"} 
                                                            </ul>
                                                            <ul>
                                                        {/if}

                                                        {if condition="$v3.recommend > 0"} 
                                                            <li><a href="#" class="redfont">{$v3.productName}</a></li>
                                                        {else /}
                                                            <li><a href="#">{$v3.productName}</a></li>
                                                        {/if}
                                                    {/volist}
                                                </ul>
<!--                                                 <ul class="marbottom10">
                                                    <li><a href="#">协会、商会注册</a></li>
                                                </ul> -->
                                            </div>
                                        </div>
                                     {else /}

                                        <div class="server-list-right-top martop10px">
                                            <div>
                                                <span class="font16"><b>{$v2.name}</b></span>
                                            </div>
                                            <div class="limited borderbot">
                                                <ul>
                                                    {volist name="v2.products" id="v3" key="k3"}

                                                        {if condition="$k3 heq 5 or $k3 heq 9 or $k3 heq 13 or $k3 heq 17"} 
                                                            </ul>
                                                            <ul>
                                                        {/if}

                                                        {if condition="$v3.recommend > 0"} 
                                                            <li><a href="#" class="redfont">{$v3.productName}</a></li>
                                                        {else /}
                                                            <li><a href="#">{$v3.productName}</a></li>
                                                        {/if}
                                                    {/volist}
                                                </ul>
<!--                                                 <ul class="marbottom10">
                                                    <li><a href="#">协会、商会注册</a></li>
                                                </ul> -->
                                            </div>
                                        </div>

                                     {/if}
                                {/volist}
                            </div>
                            <!--左边区域结束-->
                            <div class="server-list-left">
                                <div class="borderbot">
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top1.png"></a>
                                </div>
                                <div class="borderbot">
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top2.png"></a>
                                </div>
                                <div>
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top3.png"></a>
                                </div>
                            </div>
                        </div>
                         {elseif condition="$k heq 3"/}
                        <!--第3个隐藏列表-->
                        <div class="server-list-box-right-list-1 server-none-3">
                            <!--导航条列表-->
                            <div class="server-list-right">


                                {volist name="v.typeProducts" id="v2" key="k2"}

                                    {if condition="$k2 heq 1"} 
                                        <div class="server-list-right-top">
                                            <div>
                                                <span class="font16"><b>{$v2.name}</b></span>
                                            </div>
                                            <div class="limited borderbot">
                                                <ul>
                                                    {volist name="v2.products" id="v3" key="k3"}

                                                        {if condition="$k3 heq 5 or $k3 heq 9 or $k3 heq 13 or $k3 heq 17"} 
                                                            </ul>
                                                            <ul>
                                                        {/if}

                                                        {if condition="$v3.recommend > 0"} 
                                                            <li><a href="#" class="redfont">{$v3.productName}</a></li>
                                                        {else /}
                                                            <li><a href="#">{$v3.productName}</a></li>
                                                        {/if}
                                                    {/volist}
                                                </ul>
<!--                                                 <ul class="marbottom10">
                                                    <li><a href="#">协会、商会注册</a></li>
                                                </ul> -->
                                            </div>
                                        </div>
                                     {else /}

                                        <div class="server-list-right-top martop10px">
                                            <div>
                                                <span class="font16"><b>{$v2.name}</b></span>
                                            </div>
                                            <div class="limited borderbot">
                                                <ul>
                                                    {volist name="v2.products" id="v3" key="k3"}

                                                        {if condition="$k3 heq 5 or $k3 heq 9 or $k3 heq 13 or $k3 heq 17"} 
                                                            </ul>
                                                            <ul>
                                                        {/if}

                                                        {if condition="$v3.recommend > 0"} 
                                                            <li><a href="#" class="redfont">{$v3.productName}</a></li>
                                                        {else /}
                                                            <li><a href="#">{$v3.productName}</a></li>
                                                        {/if}
                                                    {/volist}
                                                </ul>
<!--                                                 <ul class="marbottom10">
                                                    <li><a href="#">协会、商会注册</a></li>
                                                </ul> -->
                                            </div>
                                        </div>

                                     {/if}
                                {/volist}
                            </div>
                            
                            <!--左边区域结束-->
                            <div class="server-list-left">
                                <div class="borderbot">
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top1.png"></a>
                                </div>
                                <div class="borderbot">
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top2.png"></a>
                                </div>
                                <div>
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top3.png"></a>
                                </div>
                            </div>
                        </div>

                        {elseif condition="$k heq 4"/}

                        <!--第4个隐藏列表-->
                        <div class="server-list-box-right-list-1 server-none-4">
                            <!--导航条列表-->
                            <div class="server-list-right">


                                {volist name="v.typeProducts" id="v2" key="k2"}

                                    {if condition="$k2 heq 1"} 
                                        <div class="server-list-right-top">
                                            <div>
                                                <span class="font16"><b>{$v2.name}</b></span>
                                            </div>
                                            <div class="limited borderbot">
                                                <ul>
                                                    {volist name="v2.products" id="v3" key="k3"}

                                                        {if condition="$k3 heq 5 or $k3 heq 9 or $k3 heq 13 or $k3 heq 17"} 
                                                            </ul>
                                                            <ul>
                                                        {/if}

                                                        {if condition="$v3.recommend > 0"} 
                                                            <li><a href="#" class="redfont">{$v3.productName}</a></li>
                                                        {else /}
                                                            <li><a href="#">{$v3.productName}</a></li>
                                                        {/if}
                                                    {/volist}
                                                </ul>
<!--                                                 <ul class="marbottom10">
                                                    <li><a href="#">协会、商会注册</a></li>
                                                </ul> -->
                                            </div>
                                        </div>
                                     {else /}

                                        <div class="server-list-right-top martop10px">
                                            <div>
                                                <span class="font16"><b>{$v2.name}</b></span>
                                            </div>
                                            <div class="limited borderbot">
                                                <ul>
                                                    {volist name="v2.products" id="v3" key="k3"}

                                                        {if condition="$k3 heq 5 or $k3 heq 9 or $k3 heq 13 or $k3 heq 17"} 
                                                            </ul>
                                                            <ul>
                                                        {/if}

                                                        {if condition="$v3.recommend > 0"} 
                                                            <li><a href="#" class="redfont">{$v3.productName}</a></li>
                                                        {else /}
                                                            <li><a href="#">{$v3.productName}</a></li>
                                                        {/if}
                                                    {/volist}
                                                </ul>
<!--                                                 <ul class="marbottom10">
                                                    <li><a href="#">协会、商会注册</a></li>
                                                </ul> -->
                                            </div>
                                        </div>

                                     {/if}
                                {/volist}
                            </div>
                            <!--左边区域结束-->
                            <div class="server-list-left">
                                <div class="borderbot">
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top1.png"></a>
                                </div>
                                <div class="borderbot">
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top2.png"></a>
                                </div>
                                <div>
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top3.png"></a>
                                </div>
                            </div>
                        </div>

                        {elseif condition="$k heq 5"/}

                        <!--第5个隐藏列表-->
                        <div class="server-list-box-right-list-1 server-none-5">
                            <!--导航条列表-->
                            <div class="server-list-right">


                                {volist name="v.typeProducts" id="v2" key="k2"}

                                    {if condition="$k2 heq 1"} 
                                        <div class="server-list-right-top">
                                            <div>
                                                <span class="font16"><b>{$v2.name}</b></span>
                                            </div>
                                            <div class="limited borderbot">
                                                <ul>
                                                    {volist name="v2.products" id="v3" key="k3"}

                                                        {if condition="$k3 heq 5 or $k3 heq 9 or $k3 heq 13 or $k3 heq 17"} 
                                                            </ul>
                                                            <ul>
                                                        {/if}

                                                        {if condition="$v3.recommend > 0"} 
                                                            <li><a href="#" class="redfont">{$v3.productName}</a></li>
                                                        {else /}
                                                            <li><a href="#">{$v3.productName}</a></li>
                                                        {/if}
                                                    {/volist}
                                                </ul>
<!--                                                 <ul class="marbottom10">
                                                    <li><a href="#">协会、商会注册</a></li>
                                                </ul> -->
                                            </div>
                                        </div>
                                     {else /}

                                        <div class="server-list-right-top martop10px">
                                            <div>
                                                <span class="font16"><b>{$v2.name}</b></span>
                                            </div>
                                            <div class="limited borderbot">
                                                <ul>
                                                    {volist name="v2.products" id="v3" key="k3"}

                                                        {if condition="$k3 heq 5 or $k3 heq 9 or $k3 heq 13 or $k3 heq 17"} 
                                                            </ul>
                                                            <ul>
                                                        {/if}

                                                        {if condition="$v3.recommend > 0"} 
                                                            <li><a href="#" class="redfont">{$v3.productName}</a></li>
                                                        {else /}
                                                            <li><a href="#">{$v3.productName}</a></li>
                                                        {/if}
                                                    {/volist}
                                                </ul>
<!--                                                 <ul class="marbottom10">
                                                    <li><a href="#">协会、商会注册</a></li>
                                                </ul> -->
                                            </div>
                                        </div>

                                     {/if}
                                {/volist}
                            </div>
                            <!--左边区域结束-->
                            <div class="server-list-left">
                                <div class="borderbot">
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top1.png"></a>
                                </div>
                                <div class="borderbot">
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top2.png"></a>
                                </div>
                                <div>
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top3.png"></a>
                                </div>
                            </div>
                        </div>
                        {elseif condition="$k heq 6"/}
                        <!--第6个隐藏列表-->
                        <div class="server-list-box-right-list-1 server-none-6">
                            <!--导航条列表-->
                            <div class="server-list-right">


                                {volist name="v.typeProducts" id="v2" key="k2"}

                                    {if condition="$k2 heq 1"} 
                                        <div class="server-list-right-top">
                                            <div>
                                                <span class="font16"><b>{$v2.name}</b></span>
                                            </div>
                                            <div class="limited borderbot">
                                                <ul>
                                                    {volist name="v2.products" id="v3" key="k3"}

                                                        {if condition="$k3 heq 5 or $k3 heq 9 or $k3 heq 13 or $k3 heq 17"} 
                                                            </ul>
                                                            <ul>
                                                        {/if}

                                                        {if condition="$v3.recommend > 0"} 
                                                            <li><a href="#" class="redfont">{$v3.productName}</a></li>
                                                        {else /}
                                                            <li><a href="#">{$v3.productName}</a></li>
                                                        {/if}
                                                    {/volist}
                                                </ul>
<!--                                                 <ul class="marbottom10">
                                                    <li><a href="#">协会、商会注册</a></li>
                                                </ul> -->
                                            </div>
                                        </div>
                                     {else /}

                                        <div class="server-list-right-top martop10px">
                                            <div>
                                                <span class="font16"><b>{$v2.name}</b></span>
                                            </div>
                                            <div class="limited borderbot">
                                                <ul>
                                                    {volist name="v2.products" id="v3" key="k3"}

                                                        {if condition="$k3 heq 5 or $k3 heq 9 or $k3 heq 13 or $k3 heq 17"} 
                                                            </ul>
                                                            <ul>
                                                        {/if}

                                                        {if condition="$v3.recommend > 0"} 
                                                            <li><a href="#" class="redfont">{$v3.productName}</a></li>
                                                        {else /}
                                                            <li><a href="#">{$v3.productName}</a></li>
                                                        {/if}
                                                    {/volist}
                                                </ul>
<!--                                                 <ul class="marbottom10">
                                                    <li><a href="#">协会、商会注册</a></li>
                                                </ul> -->
                                            </div>
                                        </div>

                                     {/if}
                                {/volist}
                            </div>
                            <!--左边区域结束-->
                            <div class="server-list-left">
                                <div class="borderbot">
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top1.png"></a>
                                </div>
                                <div class="borderbot">
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top2.png"></a>
                                </div>
                                <div>
                                    <a href="#"><img src="__ROOT__/static/index/img/image/top3.png"></a>
                                </div>
                            </div>
                        </div>


                         {/if}

                    {/volist}
                    

                    </div>
                </div>
            </div>
            <!--头部结束-->
        </div>