/*底部公共样式*/
/*最底部footer*/
.footer-box{
    background:#353334;
    height:510px;
    width:100%;
    color:#ffffff;
}
/*最底部搜索框*/
.footer-box-search{
    display: flex;
    width:1200px;
    margin: 0 auto;
}
/*底部a标签里的颜色字体为白色*/
.footer-box-search a{
    color:white;
}
/*友情链接*/
.friend-box a{
    color:white;
}
/*热门搜索左边部分上外边距50px*/
.footer-box-search-left{
    margin-top: 50px;
    width: 430px;
    border-right:1px solid #4b4a4a;
}
.footer-box-search-left>span:first-child{
    font-size: 16px;
}
/*热门搜索里的ul设为弹性布局 字体大小 为14px*/
.footer-box-search-left>ul{
    display: flex;
    font-size: 14px;
    margin-top: 20px;
}
/*热门搜索里的ul里的li*/
.footer-box-search-left>ul>li{
    margin:0 15px 0 0;
}
/*热门搜索中间常见问题部分*/
.footer-box-search-middle{
    margin-top: 50px;
    font-size: 16px;
    width: 382px;
    border-right:1px solid #4b4a4a;
}
.footer-box-search-middle>span{
    margin-left: 45px;
}
/*热门搜索中间常见问题部分里的ul*/
.footer-box-search-middle>ul{
    display: flex;
    margin:18px 45px;
    justify-content: space-between;
}
/*微信扫码*/
.footer-box-search-right{
    margin-top: 50px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.footer-box-search-right>div:first-child{
    margin-left: 45px;
}
.footer-box-search-right>div:first-child>span:first-child{
    font-size: 16px;
}
.footer-box-search-right>div:first-child>p{
    margin-top: 16px;
}
/*电话号码*/
.phonenum{
    font-size: 24px;
}
/*qq在线咨询*/
.qqconsult{
    display: inline-block;
    padding:10px 20px;
    background:#1cbbb4;
    border-radius: 10px;
    margin-top: 15px;
}
/*底部微信日期字体*/
.date{
    font-size: 14px;
}
/*微信上外边距*/
.wechart{
    margin-top: 18px;
}
/*友情链接*/
.friend-box{
    border-top:1px solid #4b4a4a;
    margin-top: 50px;
}
.friend-box-list{
    width:1200px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 12px;
}
.friend-box-list>ul{
    display: flex;
}
/**/
.friend-box-list>p:last-child{
    text-align:center;
    margin-top:20px;
}
/*底部效果*/
/*最底部*/
.footer-box-search a:hover{
    text-decoration: underline;
}
/*友情链接*/
.friend-box-list>ul li a:hover{
    text-decoration: underline;
}
/*底部鼠标移入效果*/
.pingguyemian>div:hover{
    color:white;
    background:#FF0000;
    cursor: pointer;
}
/*QQ在线咨询*/
.qqconsult:hover{
    color:white;
    background:#FF0000;
    cursor: pointer;
}
/*底部上外边距60px*/
.martop60px{
    margin-top: 60px;
}
/*产品展销底部*/
/*底部资质认证导航栏*/
.footer-navbar{
    margin-top: 30px;
    background: #f6f6f6;
}
.footernavico1{
    height: 50px;
    width: 50px;
    background: url("../img/zcgs-9.png")no-repeat 0 -526px;
}
.footernavico2{
    height: 50px;
    width: 50px;
    background: url("../img/zcgs-9.png")no-repeat 0 -575px;
}
.footernavico3{
    height: 50px;
    width: 50px;
    background: url("../img/zcgs-9.png")no-repeat 0 -625px;
}
.footernavico4{
    height: 50px;
    width: 50px;
    background: url("../img/zcgs-9.png")no-repeat 0 -675px;
}
.footer-navbar>div{
    width: 1200px;
    margin: 0 auto;
    padding:20px 0;
    font-size: 0;
}
/*底部4个导航栏*/
.footer-navbar>div>div{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    border-right: 1px solid #ddd;
    padding: 30px 30px 30px 41px;
}
/*售后无忧取消右边框*/
.footer-navbar>div>div:last-child{
    border-right: none;
}
.footer-navbar>div>div>div{
    display: inline-block;
    vertical-align: top;
}
/*资质认证，服务商100%实名审核认证*/
.footer-navbar>div>div>div:last-child{
    margin-left: 10px;
}
/*资质认证*/
.footer-navbar>div>div>div:last-child>div:first-child{
    font-size: 24px;
    font-family: 黑体;
}
.footer-navbar>div>div>div:last-child>div:last-child{
    color:#525151;
    margin-top: 3px;
}