<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <link rel="stylesheet" href="__ROOT__/static/admin/css/reset.css">
    <link rel="stylesheet" href="__ROOT__/static/admin/css/index.css">
</head>
<body>
<!--外面大框-->
   <div id="control">
       <div class="left-box">
            <div>
                 <div class="left-box-list">
                     <div><img src="__ROOT__/static/admin/img/a1.jpg" alt="" style="width: 50px;height: 50px; border-radius: 50%"></div>
                     <div><b>超级管理员</b></div>
                 </div>
                <!--弹出框-->
                <div class="middle-box middle1">
                    <!--个人登录中心-->
                    <div>
                        <ul>
                            <!--竖杠-->
                            <li class="shuganico"></li>
                            <li class="fg"><b>个人管理中心</b></li>
                            <!--关闭按钮-->
                            <li class="close"></li>
                        </ul>
                        <div class="middle-box-middle">
                            <!-- <div>
                                <ul class="martop10px">
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;栏目管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/type/oper" target="main" class="nav-item-title">管理栏目</a></li>
                                    <li class="marleft26px "><a href="__WEB__/admin/type/index" target="main" class="nav-item-title">增加栏目</a></li>
                                </ul>
                            </div>
                            <hr />
                            <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;专题管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Zhuangti/oper" target="main" class="nav-item-title">管理专题</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Zhuangti/index" target="main" class="nav-item-title">增加专题页</a></li>
                                </ul>
                            </div>
                            <hr />
                            <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;自定义页管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Zdy/oper" target="main" class="nav-item-title">管理自定义页</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Zdy/index" target="main" class="nav-item-title">增加自定义页</a></li>
                                </ul>
                            </div>
                            <hr />
                            <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;自定义列表管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Zdylist/oper" target="main" class="nav-item-title">管理自定义列表</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Zdylist/index" target="main" class="nav-item-title">增加自定义列表</a></li>
                                </ul>
                            </div>
                            <hr /> -->
                        </div>
                    </div>
                </div>
            </div>
           
            <div>
               <div  class="left-box-list">
                   <div class="houtaiico2"></div>
                   <div><b>个人工作台</b></div>
               </div>
                <!--弹出框-->
                <div class="middle-box middle2">
                    <!--个人登录中心-->
                    <div>
                        <ul>
                            <!--竖杠-->
                            <li class="shuganico"></li>
                            <li class="fg"><b>栏目管理中心</b></li>
                            <!--关闭按钮-->
                            <li class="close"></li>
                        </ul>
                        <div class="middle-box-middle">
                            <div>
                                <ul class="martop10px">
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;栏目管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/type/oper" target="main" class="nav-item-title">管理栏目</a></li>
                                    <li class="marleft26px "><a href="__WEB__/admin/type/index" target="main" class="nav-item-title">增加栏目</a></li>
                                </ul>
                            </div>
                            <hr />
<!--                             <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;专题管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Zhuangti/oper" target="main" class="nav-item-title">管理专题</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Zhuangti/index" target="main" class="nav-item-title">增加专题页</a></li>
                                </ul>
                            </div>
                            <hr />
                            <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;自定义页管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Zdy/oper" target="main" class="nav-item-title">管理自定义页</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Zdy/index" target="main" class="nav-item-title">增加自定义页</a></li>
                                </ul>
                            </div>
                            <hr />
                            <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;自定义列表管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Zdylist/oper" target="main" class="nav-item-title">管理自定义列表</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Zdylist/index" target="main" class="nav-item-title">增加自定义列表</a></li>
                                </ul>
                            </div>
                            <hr /> -->
                            <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;侧边栏目分类</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Cebiantype/oper" target="main" class="nav-item-title">管理侧边栏目</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Cebiantype/add" target="main" class="nav-item-title">增加侧边栏目</a></li>
                                </ul>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div>
               <div  class="left-box-list">
                   <div class="houtaiico1"></div>
                   <div><b>栏目管理</b></div>
               </div>
                <!--弹出框-->
                <div class="middle-box middle2">
                    <!--个人登录中心-->
                    <div>
                        <ul>
                            <!--竖杠-->
                            <li class="shuganico"></li>
                            <li class="fg"><b>栏目管理中心</b></li>
                            <!--关闭按钮-->
                            <li class="close"></li>
                        </ul>
                        <div class="middle-box-middle">
                            <div>
                                <ul class="martop10px">
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;栏目管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/type/oper" target="main" class="nav-item-title">管理栏目</a></li>
                                    <li class="marleft26px "><a href="__WEB__/admin/type/index" target="main" class="nav-item-title">增加栏目</a></li>
                                </ul>
                            </div>
                            <hr />
<!--                             <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;专题管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Zhuangti/oper" target="main" class="nav-item-title">管理专题</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Zhuangti/index" target="main" class="nav-item-title">增加专题页</a></li>
                                </ul>
                            </div>
                            <hr />
                            <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;自定义页管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Zdy/oper" target="main" class="nav-item-title">管理自定义页</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Zdy/index" target="main" class="nav-item-title">增加自定义页</a></li>
                                </ul>
                            </div>
                            <hr />
                            <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;自定义列表管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Zdylist/oper" target="main" class="nav-item-title">管理自定义列表</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Zdylist/index" target="main" class="nav-item-title">增加自定义列表</a></li>
                                </ul>
                            </div>
                            <hr /> -->
                            <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;侧边栏目分类</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Cebiantype/oper" target="main" class="nav-item-title">管理侧边栏目</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Cebiantype/add" target="main" class="nav-item-title">增加侧边栏目</a></li>
                                </ul>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div>
               <div  class="left-box-list">
                   <div class="houtaiico3"></div>
                   <div><b>任务流程</b></div>
               </div>
                弹出框
                <div class="middle-box middle2">
                    个人登录中心
                    <div>
                        <ul>
                            竖杠
                            <li class="shuganico"></li>
                            <li class="fg"><b>任务流程管理中心</b></li>
                            关闭按钮
                            <li class="close"></li>
                        </ul>
                        <div class="middle-box-middle">
                            <div>
                                <ul class="martop10px">
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;任务管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/renwu/oper" target="main">管理任务</a></li>
                                    <li class="marleft26px "><a href="__WEB__/admin/renwu/index" target="main">增加任务</a></li>
                                </ul>
                            </div>
                            <hr />
                            <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;服务类型</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Typefuwu/oper" target="main">管理服务类型</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Typefuwu/index" target="main">增加服务类型</a></li>
                                </ul>
                            </div>
                            <hr />
                            <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;任务类别</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Typerenwu/oper" target="main">管理任务类别</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Typerenwu/index" target="main">增加任务类别</a></li>
                                </ul>
                            </div>
                            <hr />
                           
                        </div>
                    </div>
                </div>
            </div> -->
            <div>
               <div  class="left-box-list">
                   <div class="houtaiico4"></div>
                   <div><b>客户管理</b></div>
               </div>
                <!--弹出框-->
                <div class="middle-box middle2">
                    <!--个人登录中心-->
                    <div>
                        <ul>
                            <!--竖杠-->
                            <li class="shuganico"></li>
                            <li class="fg"><b>客户管理中心</b></li>
                            <!--关闭按钮-->
                            <li class="close"></li>
                        </ul>
                        <div class="middle-box-middle">
                            <div>
                                <ul class="martop10px">
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;客户管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/crm/index" target="main" class="nav-item-title">客户管理</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--子项管理中心中心-->
           <div>
               <div class="left-box-list">
                   <div class="houtaiico10"></div>
                   <div><b>子项管理</b></div>
               </div>
               <!--弹出框-->
               <div class="middle-box middle10">
                   <!--个人登录中心-->
                   <div>
                       <ul>
                           <!--竖杠-->
                           <li class="shuganico"></li>
                           <li class="fg"><b>系统设置中心</b></li>
                           <!--关闭按钮-->
                           <li class="close"></li>
                       </ul>
                       <div class="middle-box-middle">
                           <div>
                               <ul>
                                   <li><span>-</span>&nbsp;&nbsp;&nbsp;任务流程管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/renwu/oper/v/0" class="nav-item-title" target="main">全部流程</a><span class="red">({$selCount})</span></li>
                                   <li class="marleft26px mar10px"><a href="__WEB__/admin/renwu/oper/v/1" class="nav-item-title" target="main">已启用流程</a><span class="red">({$startCount})</span></li>
                                   <li class="marleft26px mar10px"><a href="__WEB__/admin/renwu/oper/v/2" class="nav-item-title" target="main">已禁用流程</a><span class="red">({$forbiddenCount})</span></li>
                                   <li class="marleft26px "><a href="__WEB__/admin/renwu/oper/v/3" class="nav-item-title" target="main">流程草稿箱</a><span class="red">({$draftCount})</span></li>
                               </ul>
                           </div>
                           <hr />
                            <div>
                                <ul>
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;任务类别</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Typerenwu/oper" class="nav-item-title" target="main">管理任务类别</a></li>
                                    <li class="marleft26px"><a href="__WEB__/admin/Typerenwu/index" class="nav-item-title" target="main">增加任务类别</a></li>
                                </ul>
                            </div>
                            <hr />
                       </div>
                   </div>
               </div>
           </div>
            <div>
               <div  class="left-box-list">
                   <div class="houtaiico7"></div>
                   <div><b>产品中心</b></div>
               </div>
                <!--弹出框-->
                <div class="middle-box middle2">
                    <!--个人登录中心-->
                    <div>
                        <ul>
                            <!--竖杠-->
                            <li class="shuganico"></li>
                            <li class="fg"><b>产品管理中心</b></li>
                            <!--关闭按钮-->
                            <li class="close"></li>
                        </ul>
                        <div class="middle-box-middle">
                            {$arr}
                        </div>
                    </div>
                </div>
            </div>
            <div>
               <div  class="left-box-list">
                   <div class="houtaiico5"></div>
                   <div><b>系统设置</b></div>
               </div>
                <!--弹出框-->
                <div class="middle-box middle2">
                    <!--个人登录中心-->
                    <div>
                        <ul>
                            <!--竖杠-->
                            <li class="shuganico"></li>
                            <li class="fg"><b>系统设置中心</b></li>
                            <!--关闭按钮-->
                            <li class="close"></li>
                        </ul>
                        <div class="middle-box-middle">
                            <div>
                                <ul class="martop10px">
                                    <li><span>-</span>&nbsp;&nbsp;&nbsp;用户权限管理</li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/User/author" target="main" class="nav-item-title">角色管理</a></li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/Section/oper" target="main" class="nav-item-title">组织管理</a></li>
                                    <li class="marleft26px mar10px"><a href="__WEB__/admin/User/index" target="main" class="nav-item-title">管理员管理</a></li>
                                </ul>
                            </div>
                            <hr />

                        </div>
                    </div>
                </div>
            </div>
       </div>
       <div class="right-box">
            <div>
                <!--右头部-->
                <div class="right-box-top">
                    <div>
                        <span class="juhuiico"></span>
                        <a href="home.html" target="main"><span class="shouyeico"></span></a>
                    </div>
                    <div class="right-box-top-nav">
                          <ul id="management-nav">

                          </ul>
                    </div>
                    <div class="arrows-box">
                        <!--左箭头-->
                        <span class="leftarrows"></span>
                        <!--右箭头-->
                        <span class="rightarrows"></span>
                    </div>
                </div>
            </div>
       <!--main影响，js放这里-->
<script src="__ROOT__/static/admin/js/jquery-1.11.3.min.js"></script>
<script src="__ROOT__/static/admin/js/index.js"></script>
           <iframe name="main" id="main"/>
       </div>
   </div>

</body>
</html>