 <!--头部-->
    <div class="container-box">
        <div class="container-box-top">
            <!--头部-->
            <ul>
                <li class="cbcb4"><a href="#"  class="cbcb4">聚惠企业</a>&nbsp;&nbsp;</li>
                <li>|&nbsp;&nbsp;专业的财税服务平台</li>
                <li>
                    {if condition="$Think.session.user heq null"}  
                    <div class="nologing">
                        <div>&nbsp;&nbsp;<a href="__WEB__/index/User/login">登录</a>&nbsp;&nbsp;|</div>
                        <div>&nbsp;&nbsp;<a href="__WEB__/index/User/register">注册</a>&nbsp;&nbsp;|</div>
                    </div>
                    {else/}
                    <div class="loging" style="display:inline-block;">
                        <div>&nbsp;&nbsp;<a href="#">{$Think.session.user.nickname}</a>&nbsp;&nbsp;|</div>
                        <div>&nbsp;&nbsp;<a href="#">我的订单</a>&nbsp;&nbsp;|</div>
                        <div class="shopcar">&nbsp;&nbsp;<a href="#">购物车</a><span>(1)</span>&nbsp;&nbsp;|</div>
                    </div>
                    {/if}
                    <div class="wechartloginico">&nbsp;&nbsp;<a href="#"><span class="iphoneico">
                    <div>
                        <div>
                            <img src="__ROOT__/static/index/img/image/sy-sjdlxljt-20180102-1609.png">
                        </div>
                        <div class="wechartlogin">
                            <img src="__ROOT__/static/index/img/image/cyzx-xqy-ewm-20171227-1856.png">
                        </div>
                    </div>
                      </span>手机端登录</a>&nbsp;&nbsp;</div>
                    <div class="cbcb4">&nbsp;&nbsp;全国服务热线:400-718-9622</div>
                </li>
            </ul>
        </div>
        <!--头部结束-->
        <!--聚惠企业图标-->
        <div class="juhui-box">
            <ul>
                    <a href="#">
                <li class="juhuiico">
                </li>
                    </a>
                <li class="marlf20">
                    <span><i>专注服务小微企业</i></span>
                    <p>
                        <span><span class="zizhiico"></span><b>资质认证</b></span>
                        <span><span class="baoxianico"></span><b>保险赔付</b></span>
                        <span><span class="shouhouico"></span><b>售后无忧</b></span>
                    </p>
                </li>
                <li class="searchfloat">
                    <form action="">
                    <div class="search-box">
                        <input type="text" name="search" placeholder="请输入关键字">
                        <span class="searchico">&nbsp; <span>搜 索</span></span>
                    </div>
                    <div class="ask">
                        我要提问
                    </div>
                    </form>
                </li>
            </ul>
            <!--所有服务列表-->
            <div class="serve-box">
                <ul>
                    <li>
                        <span class="serveico"></span>
                        <span class="font16"><b>所有服务分类</b></span>
                    </li>
                    <li class="active">
                        <a href="#"><b>首页</b></a>
                    </li>
                    <li class="active">
                        <a href="#"><b>注册公司</b></a>
                        <div class="hot">
                            <img src="__ROOT__/static/index/img/image/sy-hot.gif">
                            <div></div>
                        </div>
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <a href="#"><b>申请商标</b></a>
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <a href="#"><b>代理记账</b></a>
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <a href="#"><b>财税问答</b></a>
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="active">
                        <a href="#"><b>创业咨询</b></a>
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                    </li>
                    <li class="knowposition active">
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                        <a href="#"><b>知识库</b></a>
                        <!--<span class="knowico"></span>-->
                        <!--<div><img src="__ROOT__/static/index/img/images/sy-hot.gif"></div>-->
                    </li>
                    <li class="active">
                        <a href="#"><b>关于聚惠</b></a>
                        <div class="activelist">
                            <div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">人事相关</a></div>
                                <div><a href="#">社保、公积金</a></div>
                                <div><a href="#">记账报税</a></div>
                                <div><a href="#">公司变更</a></div>
                                <div><a href="#">一般纳税人公司注册</a></div>
                                <div><a href="#">开公积金户</a></div>
                            </div>
                        </div>
                    </li>
                    <li ><a href="#" class="odds"><b>创业特惠套餐</b></a></li>
                </ul>