<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__ROOT__/static/admin/css/reset.css">
    <link rel="stylesheet" href="__ROOT__/static/admin/houtaicss/plusmission.css">
    <title>任务管理列表</title>
    <style>
    .container-middle-content>ul li:last-child {
    margin-left: 10px;
    border-left: 1px solid #ddd;
    padding-bottom: 4px;
}
.container-middle-content>ul li:first-child{
    border:none;
}
.container-middle-content>ul{
    border-left: 1px solid #ddd;
}
    #states{
    display: inline-block;
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 0 10px;
    margin: 3px 5px 3px 0;
    color: #000;
    }
    </style>
</head>
<body>
<!--遮罩层-->
<div class="masks" style="display: none;">
    <!--新增任务弹窗-->
    <form action='{:url("Addrenwu/add","v=$v")}' method="post" onSubmit="return missionsubmit();">
        <div class="newly-box">
            <div>
                <span>编辑任务</span>
                <span class="close">&times;</span>
            </div>
            <div class="newly-box-bottom">
                <div>
                    <span>任务名称 :</span>
                    <input type="text" class="missionname" name="name" >
                    <span class="hint">请输入任务名称</span>
                </div>
                <div>
                    <span>任务状态 :</span>
                    <input type="radio" id="yess" value="1" name="isShow" checked><label for="yess">启用</label>
                    <input type="radio" id="noo" value="0" name="isShow"><label for="noo">禁用</label>
                </div>
                <div>
                    <span>任务类别 :</span>
                    
                    <select name="typeId">
                        {volist name="arr" id='vo'}
                         <option value="{$vo.id}">{$vo['name']}</option>
                        {/volist}
                    </select>
                </div>
                <div>
                    <span>所属部门 :</span>
                    <select name="rulerId">
                         {volist name="sec" id='vo'}
                           <option value="{$vo.id}">{$vo['name']}</option>
                           {/volist}
                    </select>
                </div>
               <!--  <div>
                   <span>推送信息 :</span>
                   <input type="checkbox" id="message"><label for="message">短信</label>
                   <input type="checkbox" id="mail"><label for="mail">邮件</label>
                   <input type="checkbox" id="wechat"><label for="wechat">微信</label>
               </div> -->
                <div>
                    <span class="textright">备注 :</span>
                    <textarea name="content" ></textarea>
                </div>
                <div>
                    <input type="hidden" name="keyId" value="{$id}">
                    <span>取消</span>
                    <input type="submit" value="保存">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="maskss" style="display: none;">
    <!--新增任务弹窗-->
    <form action='{:url("Addrenwu/save","v=$v")}' method="post" >
        <div class="newly-boxx">
            <div>
                <span>编辑任务</span>
                <span class="close">&times;</span>
            </div>
            <div class="newly-boxx-bottom">
                <div>
                    <span>任务名称 :</span>
                    <input type="text" class="missionname" name="name" id="names">
                    <span class="hint">请输入任务名称</span>
                </div>
                <div>
                    <span>任务状态 :</span>
                    <input type="radio" id="yess" value="1" name="isShow" checked><label for="yess">启用</label>
                    <input type="radio" id="noo" value="0" name="isShow"><label for="noo">禁用</label>
                </div>
                <div>
                    <span>任务类别 :</span>
                    
                    <select name="typeId">
                        {volist name="arr" id='vo'}
                         <option value="{$vo.id}">{$vo['name']}</option>
                        {/volist}
                    </select>
                </div>
                <div>
                    <span>所属部门 :</span>
                    <select name="rulerId">
                         {volist name="sec" id='vo'}
                           <option value="{$vo.id}">{$vo['name']}</option>
                           {/volist}
                    </select>
                </div>
               <!--  <div>
                   <span>推送信息 :</span>
                   <input type="checkbox" id="message"><label for="message">短信</label>
                   <input type="checkbox" id="mail"><label for="mail">邮件</label>
                   <input type="checkbox" id="wechat"><label for="wechat">微信</label>
               </div> -->
                <div>
                    <span class="textright">备注 :</span>
                    <textarea name="content" id="texts"></textarea>
                </div>
                <div>
                    <input type="hidden" name="keyId" value="{$id}">
                    <input type="hidden" name="id" id="hidd">
                    <span>取消</span>
                    <input type="submit" value="保存">
                </div>
            </div>
        </div>
    </form>
</div>
  <!--增加栏目-->
 <div id="container">
         <div>增加流程</div>
         <div class="container-middle">
             <div></div>
             <div class="container-middle-content">
                     
                     <ul class="caption">
                         <li  class="height230">
                             <div>任务管理 :&nbsp;&nbsp;</div>
                             <div class="newly">新增任务</div>
                         </li>
                         <li>
                             <!--任务列表-->
                             <div class="mission-list">
                                 <!--任务1-->
                                  {volist name="res" id='vo' key="k" }
                                  <div class="mission-list-list">
                                  {if condition="$vo['isShow'] heq 0"}
                                      
                                      <div style="color: #ddd;">{$vo.name}</div>
                                     {else /}
                                      <div style="color: #000;">{$vo.name}</div>
                                   {/if}  
                                      <div>
                                            {if condition="$vo['isShow'] heq 0"}
                                            
                                            <span onclick="state({$vo['id']})"  class="state">启用</span>
                                            {else /}
                                            <span onclick="state({$vo['id']})"  class="state">禁用</span>
                                            {/if}
                                          <span  onclick="update({$vo['id']})">修改</span>
                                          <a class="del" href="javascript:if(confirm('确实要删除该内容吗?'))location='__URL__/del2/id/{$vo['id']}/keyId/{$id}'">删除</a>
                                          <span class="sort-asc">上移</span>
                                          <span class="sort-down">下移</span>
                                      </div>
                                  </div>
                                 {/volist}
                             </div>
                         </li>
                     </ul>
             </div>
         </div>
    <div class="commit">
         <input type="button" value="查看流程" onclick="button()">
         <input type="reset" value="取消">
    </div>
 </div>

<script src="__ROOT__/static/admin/js/jquery-1.11.3.min.js"></script>
<script src="__ROOT__/static/admin/houtaijs/plusmission.js"></script>
<script type="text/javascript">
    function update(id){
         var url = "{:url('Renwu/update2')}"; 
    $.ajax({  
            type:'post',  
            url:url,  
            data:("id="+id),  
            dataType:"json", 
            jsonpCallback:"flightHandler",   
      
            success:function(t){  
                 
                if(t != null){  
                    $(".maskss").show();
                    $(".newly-boxx").show();
                   $("#hidd").val(id);
                   $("#names").val(t.name);
                   $("#texts").text(t.content);
                 
                }else{  
      
                    alert('修改失败');  
                }  
            }     
        });
    }
    function state(id){
         var url = '{:url("Renwu/state")}';

    $.ajax({  
            type:'post',  
            url:url,  
            data:("id="+id),  
            dataType:"json", 
            jsonpCallback:"flightHandler",   
      
            success:function(t){  
                console.log(t);
              if(t != null){
               location=location ;
                 
                }else{  
      
               alert("操作失败");
                }  
            }     
        });
    }
    function button(){
        window.location.replace('{:url("Renwu/oper","v=$v")}');
    }
</script>
</body>
</html>